{% extends "base.html" %}

{% block content %}
<script>
  function set_openid(openid, pr) {
    u = openid.search('<username>');
    if (u != -1) {
      user = prompt('Enter your ' + pr + ' username:');
      openid = openid.substr(0, u) + user;
    }
    var form = document.forms['login'];
    form.elements['openid'].value = openid;
  }
</script>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Login</h1>
    <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <div class="input-group">
	<label>OpenID</label>
	{{ form.openid(size=80,class="form-control") }}
      </div>
      {% for pr in providers %}
      <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
      {% endfor %}
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Login" class="form-control btn btn-primary"></p>
      <!-- Create Account Link -->
      <!-- Reset Password Link -->
    </form>
  </div>
</div>
{% endblock %}
